# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/nbproject/private/
nbproject/project.properties
nbproject/project.xml
node_modules/socket.io/node_modules/socket.io-parser/node_modules/json3/lib/json3.min.js
node_modules/mime/.npmignore
node_modules/mime/README.md
node_modules/mysql/lib/PoolCluster.js
node_modules/.bin/mime
node_modules/mime/build/build.js